:root {
    --primary-color: #eb0000;
    --secondary-color: #ff3a3a;
    --background-color: #f8f9fa;
    --text-color: #333;
    --light-gray: #e9ecef;
    --white: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    overflow-x: hidden;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: var(--primary-color);
    color: var(--white);
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #333;
    width: 100vw;
}

.navbar-custom .nav-link {
    color: #ffffff; /* Cor branca */
}

.navbar-custom .nav-link:hover {
    color: #f8f9fa; /* Cor branca mais clara ao passar o mouse */
}


.navbar-brand img {
    height: 5rem;
}

.nav-link {
    font-weight: 500;
    position: relative;
    display: inline-block;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.navbar-collapse {
    gap: 2rem;
    align-items: center;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    transition: all 0.3s ease;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section {
    padding: 5rem 0;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--primary-color);
    font-weight: bold;
    position: relative;
}

.section-title::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 10px auto 0;
}

#hero {
    margin-top: 1.6rem;
}


.swiper-slide img {
    width: 100%;
    height: 815px;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
  }

.slide-content {
    position: absolute;
    bottom: 90px;
    left: 40px;
    color: var(--white);
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    z-index: 2;
}

.slide-content h2 {
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.slide-content h2 span { 
    font-weight: 700;
}
.slide-content p { 
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;

}

.product-category {
    text-align: center;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    height: 100%;
}

.product-category:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.product-category i {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}


.testimonial {
    background-color: var(--white);
   
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    height: 100%;
    text-align: center;
  
}



.brand-grid img {
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: all 0.3s ease;
}

.brand-grid img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.payment-methods i {
    font-size: 3rem;
    color: var(--primary-color);
    margin: 0 1rem;
    transition: all 0.3s ease;
}

.payment-methods i:hover {
    transform: scale(1.1);
}

.contact-info a {
    font-size: 2rem;
    color: var(--primary-color);
    margin: 0 1rem;
    transition: all 0.3s ease;
}

.contact-info a:hover {
    color: var(--secondary-color);
    transform: scale(1.1);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilo geral da seção de contato */
#contato {
    padding: 80px 0;
    background-color: #f5f5f5; /* Cor de fundo um pouco mais suave */
}

#contato .section-title {
    font-size: 36px;
    font-weight: bold;
    color: var(--primary-color); /* Cor escura para contraste com o fundo */
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 2px; /* Letra mais espaçada para elegância */
}

/* Estilo para os subtítulos */
#contato h3 {
    font-size: 26px;
    font-weight: 600;
    color: var(--primary-color); /* Cor azul para destaque nos subtítulos */
    margin-bottom: 20px;
}

/* Estilo para o mapa */
#contato iframe {
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1); /* Sombra mais suave e intensa */
    transition: transform 0.3s ease; /* Animação de hover */
}

#contato iframe:hover {
    transform: scale(1.02); /* Leve zoom no hover */
}

/* Estilo da lista de informações de contato */
#contato .list-unstyled {
    padding-left: 0;
    font-size: 18px;
}

#contato .list-unstyled li {
    color: #6c757d; /* Cor neutra para o texto */
    margin-bottom: 18px;
    display: flex;
    align-items: center; /* Alinha o ícone com o texto */
}

#contato .list-unstyled li i {
    color: var(--primary-color); /* Cor azul nos ícones */
    margin-right: 12px;
    font-size: 22px; /* Aumenta o tamanho dos ícones */
    transition: color 0.3s ease; /* Transição suave ao passar o mouse */
}

#contato .list-unstyled li a {
    color: #6c757d;
    text-decoration: none;
    transition: color 0.3s ease;
}

#contato .list-unstyled li a:hover {
    color: #0056b3; /* Escurece o link no hover */
}

/* Estilo para os ícones de redes sociais */
#contato .contact-info {
    margin-top: 30px;
}

#contato .contact-info a {
    font-size: 28px;
    color: var(--primary-color);
    margin-right: 20px;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease; /* Animação dupla para cor e escala */
}

#contato .contact-info a:hover {
    color: var(--secondary-color);; /* Tom mais escuro no hover */
    transform: scale(1.1); /* Aumenta o ícone no hover */
}

#por-que-comprar {
    background-color: var(--primary-color);
}

#por-que-comprar .section-title {
    color: var(--white);
}


.map {
    max-width: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
div .map-flex {
    width: auto;
}

div .map-container {
    max-width: 100%;
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 156px;

}

/* Responsividade */
@media (max-width: 986px) { 
    .btn-primary {
        margin-top: 1rem;
    }
    
    .map {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 32px;


    }
 div .map-container {
        flex-direction: column;
        gap: 96px;


    }
    /* div .map-flex {
        width: 100%;
    } */
    
}
@media (max-width: 768px) {
    #contato .section-title {
        font-size: 28px;
        margin-bottom: 40px;
    }

    #contato h3 {
        font-size: 22px;
    }

    #contato .list-unstyled li {
        font-size: 16px;
    }

    #contato iframe {
        max-width: 100%;
        width: 100vw;
        /* height: 200px; Reduz o tamanho do mapa em telas menores */
    }

    #contato .contact-info a {
        font-size: 24px;
    }
}


@media (max-width: 768px) {
    .swiper-slide img {
        height: 400px;
    }

    .slide-content {
        bottom: 20px;
        left: 20px;
    }

    .slide-content h2 {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .swiper-slide img {
        height: 300px;
    }

    .slide-content h2 {
        font-size: 1.5rem;
    }

    .payment-methods i {
        font-size: 2rem;
        margin: 0 0.5rem;
    }

    .contact-info a {
        font-size: 1.5rem;
        margin: 0 0.5rem;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
    }
}



/* Seção CTA */
.cta-section {
    position: relative;
    background: url('https://images.unsplash.com/photo-1580894895938-bd31a62ed8ba?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center; /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 60px 20px;
    background-attachment: fixed; /* Efeito parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Conteúdo da seção CTA */
.cta-content {
    position: relative;
    z-index: 2; /* Garante que o conteúdo fique acima da imagem de fundo */
}

.cta-section h2 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #ffffff; /* Branco para o título */
}

.cta-section p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #f1f1f1; /* Tom levemente mais claro para o parágrafo */
}

/* Botão de CTA */
.cta-btn {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-btn:hover {
    background-color: #0056b3; /* Muda a cor no hover */
    transform: scale(1.05); /* Leve aumento no hover */
}

/* Efeito de overlay escuro na imagem de fundo */
.cta-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Overlay escuro para contraste */
    z-index: 1;
}

/* Seta animada */
.cta-arrow {
    font-size: 48px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    animation: bounce 2s infinite;
}

/* Animação de bounce */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.cta-arrow:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}


/* Responsividade */
@media (max-width: 768px) {
    .cta-section h2 {
        font-size: 32px;
    }

    .cta-section p {
        font-size: 18px;
    }

    .cta-section {
        height: 500px;
    }
}
